MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/BaseByte
PORT=5000
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dgpw3cllq
CLOUDINARY_API_KEY=927476155166866
CLOUDINARY_API_SECRET=KvHitk6ITth1fj2BNaA7Xpr7lRY
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
