@import "tailwindcss";


/* Hide scrollbar for Chrome, Safari and Opera */ 
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea {
  touch-action: manipulation; /* Improves touch response */
}

/* English Comment: Ensuring smooth transitions for touch and hover states */
div, button {
  transition-property: transform, background-color, border-color, box-shadow;
  transition-duration: 300ms;
}

/* English Comment: Removing the default blue overlay on mobile taps */
* {
  -webkit-tap-highlight-color: transparent;
}
